- if phones.present?
  %section.phone.icon-text-block{ itemscope: '', itemtype: 'http://schema.org/ContactPoint' }
    %h4= t('labels.phone')
    - phones.each do |phone|
      - if phone.number_type == "voice"
        %span
          %i.fa.fa-phone{ tabindex: '0', role: 'img', aria: {label: 'Phone'}}
      - elsif phone.number_type == "fax"
        %show_phone_type_and_department
          %i.fa.fa-fax{ tabindex: '0', role: 'img', aria: { label: 'Fax' }}
      - elsif phone.number_type == "sms"
        %span
          %i.fa.fa-comment{ tabindex: '0', role: 'img', aria: { label: "SMS" }}
      %span.annotated-text-block
        = render 'component/detail/phone', phone: phone, show_phone_type_and_department: true
      %br
