- if service.address_details.present?
  %section.address_details
    %h4= t('service_fields.address_details')
    %span.icon-text-block
      %i.fa.fa-map-marker{ tabindex: "0", role: "img", aria: { label: "Location marker" } }
      %span.annotated-text-block.character-limited
        = service.address_details
