- if service.accepted_payments.present?
  %section.accepted-payments
    %h4= t('service_fields.accepted_payments')
    %ul.fa-ul
      - service.accepted_payments.sort.each do |f|
        %li
          %span
            = f
