%section.name-box
  %span.name{:id => "#{service.name.split("(").first.split(" ").join("")}"}
    = service.name
  - if service.alternate_name.present?
    %span.alternate-name
      (#{service.alternate_name})
