%h4 Search data overview
%table.table
  %tr
    %th Metric
    %th Value
  %tr
    %td Total number of visits
    %td= total_number_of_visits
  %tr
    %td Total number of searches
    %td= total_number_of_searches
  %tr
    %td Average number of searches per visit
    %td= avg_number_searches_per_visit
  %tr
    %td.bottom Total number of visits initiated from homepage
    %td.bottom= number_of_visits_initiated_from_homepage
