%h3
  = t('views.feedback.message_header_1') + @name + t('views.feedback.message_header_2') + @organization_name + ":"
%p
  = @message
  %br
  %br
  %hr
  User Agent: #{@user_agent}
  %br
  %br
  URL: #{ENV['DOMAIN_NAME']}

%p
  Baltimore City Health Department
  %br/
  City Hall - Room 250
  %br/
  100 N. Holliday St
  %br/
  Baltimore, MD 21202
