%p Hello #{@resource.name}!
%p Someone has requested a link to change your password. You can do this through the link below.
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
%p
  %img{ src: asset_url(SETTINGS[:site_logo]), alt: "#{t('titles.brand')} Logo" }
%p You received this email because of your registration with #{t('titles.brand')}. Do not reply to this email.
%p
  Baltimore City Health Department
  %br/
  City Hall - Room 250
  %br/
  100 N. Holliday St
  %br/
  Baltimore, MD 21202
