%div#rating-bar
  %p Do these results match what you are looking for?
  %span Please rate these search results from 1 star (No Match) to 5 stars (High Match).

  %div.stars
    - for i in 1..5 do
      %i.fa.fa-star-o{ tabindex: '0',
                       id: "#{i}-star",
                       class: "star",
                       role: 'button',
                       aria: {label: "#{i}-star rating"}}


:javascript
  $(document).ready(function() {

    $('.star').on('mouseenter', function() {
      starIndex = Number($(this).attr('id')[0]);
      solidStars(starIndex);
    });

    $('.star').on('mouseout', function() {
      outlineStars();
    });

    $('.star').on('click', function() {
      removeStarAnimations();
      removeRatingRow();
    });

    function solidStars(starIndex) {
      for (let i = 1; i <= starIndex; i++) {
        $(`i\#${i}-star`)
          .removeClass('fa-star-o')
          .addClass('fa-star');
      }
    }

    function outlineStars() {
      $('.star')
        .removeClass('fa-star')
        .addClass('fa-star-o');
    }

    function removeStarAnimations() {
      $('.star')
        .off('mouseenter')
        .off('mouseout')
        .off('click');
    }

    function removeRatingRow() {
      $('#rating-bar').fadeOut(2500, function() {
        $(this).remove();
      });
    }

  });
